/*************** Reset *********************/

img {
  width: 100%;
}
* {
  margin: 0;
}
/*************** Reset ************/

/**************Generalt**************/
h1 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 3.5rem;
}

h2 {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  font-family: "Roboto", serif;
  font-weight: 200;
  font-size: 1rem;
}

.p_bold {
  font-family: "Roboto", serif;
  font-weight: 500;
}

header {
  display: flex;
  padding: 2rem;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
}

/**************Generalt**************/

/************** Forside ***********/
.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

@media (min-width: 850px) {
  .category_list_container {
    display: flex;
    gap: 10px;
  }
}

.category_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start; /* Gør at h2 starter på samme linje som kasserne */
  max-width: 800px; /* Sørger for, at det ikke strækker sig */
  margin: 0 auto; /* Centrerer indholdet uden at centrere h2 */
}

.category_list_container a {
  text-decoration: none;
}

.category_list_container div {
  text-align: center;
  color: black;
  padding: 20px;
  border: 1px solid black;
}
